/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* UTILITY */
.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

/* MAIN */
main {
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    padding: 10px;
    max-width: 80%;
    margin: auto;
}
main > * {
    margin: 30px 0;
}

h1 {
    color: rgba(229,51,112,255);
    font-weight:700;
    font-size: 50px;
}

/* Single card */
.card {
    background-color: black;
    color: white;
    margin: 20px 5px;
    width: calc(100% / 3 - 10px);

    float: left;
}
/* color: rgba(100,179,203,255) */
