/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* UTILITY */
.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

/* MAIN */
main {
    font-family: 'Fredoka', sans-serif;
    padding: 0px;
    max-width: 80%;
    margin: auto;
}
main > * {
    margin: 30px 0;
}

h1 {
    color: rgba(229,51,112,255);
    font-weight:700;
    font-size: 45px;
    text-align: center;
}
p {
    text-align: center;
}

/* Single card */
.card {
    background-color: black;
    color: white;
    margin: 20px 15px;
    width: calc(100% / 3 - 30px);
    height: 100px;

    float: left;
}

.card img {
    max-height: 100%;
    float: left;
}

.info {
    float: left;
}
.info > div {
    margin: 10px 15px;
}

.info .name {
    font-weight: bold;
    font-size: 20px;
}

a[href="mailto:"] {
    color: rgba(100,179,203,255);
    text-decoration: none;
}